/bin/
/dist/
/tmp/
/coverage/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

/vendor/

.vscode/
.idea/
*.swp
*.swo
*.log
*.bak
Thumbs.db
.DS_Store

.env
*.local.yaml
docker-compose.override.yaml

docs/swagger.*
